.flexdata{
    display: flex;
    height:170vh;
}
.detail{
    border-top: 1px solid black;
    box-shadow: 0px 2px 12px 5px rgba(0, 0, 0, 0.05);
    margin-top: 20vh;
    display: inline-block;
    width: 85vw;
}
.companyname{
    position: absolute;
    display: inline-block;
    padding-left: 3vw;
    padding-top: 3vh;
    padding-bottom: 2.5vh;
    width: 65vw;
    height:15vh;
    margin-left: 7vw;
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.3);
}
.companyname .company{
    position: absolute;
    font-family: "Mulish", sans-serif;
    font-weight:600;
    letter-spacing: 0.8px;
    text-decoration-line: underline;
    font-size: 2.6vh;
    cursor: pointer;
}
.companyname .subdate{
position: absolute;
margin-top: 1vh;
margin-right: 4.4vw;
/* height: 36px; */
right: 11vw;
font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 2.2vh;
letter-spacing: 0.4px;
color: #000000;
}
.companyname .subdate1{
    position: absolute;
    margin-top: 1vh;
    margin-right: 2.5vw;
    /* height: 36px; */
    right: 0;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2vh;
    letter-spacing: 0.4px;
    color: #000000;
    }
.companyname .closeprice{
position: absolute;
margin-top: 5.3vh;
font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 2.2vh;
letter-spacing: 0.4px;
color: #000000;
}
.companyname .change{
position: absolute;
margin-top: 5.3vh;
font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 2.2vh;
letter-spacing: 0.4px;
margin-left: 9vw;
color: red;
}
.companyname .changepercent{
position: absolute;
margin-top: 5.3vh;
font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 2.2vh;
letter-spacing: 0.4px;
margin-left: 15vw;
color: red;
}
.mainbox{
    margin-top: 3vh;
}

.greyback{
    position: absolute;
    height:50vh;
    width:85vw;
    background-color: #c4c4c4;
    margin-top: 23vh;
}
.box1{  
position: absolute;
height:46vh;
width: 26vw;
margin-top: 2vh;
margin-left: 1.6vw;
background-color: #ffffff;
border-radius: 8px;
box-shadow: -3px 3px 23px 10px rgba(0, 0, 0, 0.20);
}
.box2{  
    position: absolute;
    height:46vh;
    width: 26vw;
    margin-top: 2vh;
    margin-left: 29.6vw;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: -3px 3px 23px 10px rgba(0, 0, 0, 0.20);
}
.box3{  
    position: absolute;
    height:46vh;
    width: 26vw;
    margin-top: 2vh;
    margin-left: 57.6vw;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: -3px 3px 23px 10px rgba(0, 0, 0, 0.20);
}
.table1 , .table2, .table3{
    width:26vw;
}
.tablebody1,.tablebody2,.tablebody3{
    width:26vw;
}
.tabledata3{
    padding-left: 2.4vw;
    padding-top: 3vh;
    padding-bottom: 1vh;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #000000;
    font-family: "Mulish", sans-serif;
    font-size: 1.4vw;
    border-bottom: 1px solid #ddd;
}
.tabledata2{
    padding-left: 2.4vw;
    padding-top: 3vh;
    padding-bottom: 1vh;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #000000;
    font-family: "Mulish", sans-serif;
    font-size: 1.4vw;
    border-bottom: 1px solid #ddd;
}
 .td1{
    padding-left: 2.4vw;
    padding-top: 3vh;
    padding-bottom: 1vh;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #000000;
    font-family: "Mulish", sans-serif;
    font-size: 1.4vw;
    border-bottom: 1px solid #ddd;
}


.graphbox1{
    position: absolute;
    display: block;
    height:65vh;
    width:85%;
    margin-top: 6vh;
    border-right: 3px solid #c4c4c4;
}
.graphbox{
    position: absolute;
    display: block;
    height:65vh;
    width:45%;
    margin-top: 78vh;
    border-right: 3px solid #c4c4c4;
}
.buttonbox{
    margin-top: 2vh;
    margin-left: 3vw;
    display: flex;
    width: 18vw;
    height: 7vh;
    background-color: #c4c4c4;
}
.buttonbox p{
    margin-top: 2vh;
    margin-left: 1vw;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vh;
    cursor: pointer;
    /* letter-spacing: 0.4px; */
}
.daily{
    text-decoration: underline;
}
.buttonbox hr{
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#container1{
    /* width: 40vw; */
      height: 50vh;
}
.graph{
    margin-top: 2vh;
    display: block;
    width: 40vw;
    height: 50vh;
    margin-left: 2vw;
    margin-top: 4vh;
    border: 1px solid black;
}
.graphimg{
    margin-top:4vh;
    border: 1px solid black;
}
.news{
    position: absolute;
    right: 0;
    margin-top: 82vh;
    margin-right: 30vw;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
    letter-spacing: 0.4px;
}
.newsbox{
    position: absolute;
    right: 0;
    margin-top: 88.5vh;
    background-color: #c4c4c4;
    width: 33vw;
    height: 50vh;
    margin-right: 5vw;
}
.newsheads{
    height: 42vh;
    margin-top: 4vh;
    margin-left: 2vw;
    width: 29vw;
    box-shadow: -6px 6px 23px 17px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    background-color: #ffffff;
}
.newsheads table{
    height: 0vh;
    width: 21vw;
}
.newsheads td{
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.2px;
    color: #000000;
    padding-left: 3vw;
    cursor: pointer;
    
}
.newsheads .newsheading {
    font-family: Mulish;
    font-style: normal;
    font-weight: 550;
    letter-spacing: 0.2px;
    color: #000000;
    font-size:small;
    padding-top:1vh;
    padding-bottom:1vh;
    padding-left: 0.5vw;
    cursor: pointer;
}