* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
  }
  .unorder {
    list-style-type: none;
  }
  .anchor {
    text-decoration: none;
    color: #a4a6b3;
    font-family: "Mulish", sans-serif;
    font-size: 1.1vw;
    display: inline-block;
    padding: 9% 0 7% 26%;
    width: 100%;
    box-sizing: border-box;
  }
 
  .position {
    margin-top: 20%;
  }
  
  .anchor:not(.active):hover {
    background-color: #3b3c3d;
    color: #dde2ffc4;
  }
  .anchor.active{
      background-color: #49494b;
      color: #DDE2FF;
      border-left: 3px solid #DDE2FF;
  }
  
  .container {
    background-color: #383838;
    width: 15%;
    height: 100vh;
    position: sticky;
    top: 0px;
    display: inline-block;
    z-index: 2;
    overflow: hidden;
  }
  .flexdata{
    display: flex;
  }
  .lorem{
    width: 80%;
    margin-left: 2%;
  }
  .heading {
    color: #a4a6b3;
    text-align: center;
    position: relative;
    top: 2.9vh;
    font-size: 1.4vw;
    font-weight: bolder;
    font-family: "Mulish", sans-serif;
  }
  .di1{
    width: 100%;
  }
  /* .di2{
    margin-left: 8vw;
    margin-top: 12vh;
    height: 57vh;
    width: 45vw;
    border: 2px solid #bebec0;
    box-shadow: 0px 1px 5px 3px rgb(0 0 0 / 12%);
    border-radius: 10px;
} */
  .interest{
    margin-left: 7vw;
    position: absolute;
    z-index: 0;
    /* background-color: #000000; */
    box-shadow: -3px 3px 23px 2px rgba(0, 0, 0, 0.44);
    margin-top: 5vh;
    margin-bottom: 2vh;
    width: 70vw;
    height: 51.4vh;
  }

  .interesthead{
    font-family: "Mulish", sans-serif;
    position: relative;
    display: inline-block;
    font-size: 2.1em;
    font-weight: bold;
    color: #3b3c3d;
    box-sizing: border-box;
    margin-left: 7vw;
    margin-top: 17vh;
  }
  .lastdate{
    display: inline-block;
    position: absolute;
    font-family: "Mulish", sans-serif;
    font-size: 1.5vw;
    font-weight:lighter;
    color: #3b3c3d;
    box-sizing: border-box;
    right : 0;
    margin-top: 19vh;
    margin-right: 8vw;
   
  }
  .interesttable{
    height: 40vh;
    width: 62vw;    
    margin-left: 4vw;
    margin-top: 4vh;
  }
  .interesttable .companydata{
    height: 40vh;
    width: 40vw;
    border: 1px solid black;
  }
  th, td {
    font-family: "Mulish", sans-serif;
    font-size: 1.7vw;
    border-bottom: 1px solid #ddd;
  }
  .icons{
      max-width: 2.3vw;
      max-height: 2.5vh;
      margin-right: 0.5vw;
  }
  /* .activeicon{
      max-width: 2.3vw;
      max-height: 5.6vh;
      position: relative;
      left: 0;
      box-sizing: border-box;
      display: inline-block;
  
  } */
  .searchhead{
      display: flex;
  }
  .wrapper{
    margin-top: 7vh;
    margin-left: 7vw;
    position: absolute;
    z-index: 1;
    flex: 0 0 auto;
    width: 70vw;
    height: fit-content;
  }
  .wrapper .search-input{
    position: relative;
    background : white;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  }
  .search-input input{
    box-sizing: border-box;
    height: 7vh;
    width: 100%;
    border-radius: 16px;
    border: none;
    outline: none; 
    font-size: 18px;
    padding: 0px 60px 0px 20px;
    box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.12);
  }
  input:focus{
    border-color: transparent;
    outline: none;
    border: 0px solid;
  }
  .search-input .icon{
  position: absolute;
  right: 0px;
  top: 1px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;


  }
  .search-input .autocom-box{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
  }
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }

  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    font-family: "Mulish", sans-serif;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
  }
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background-color: #efefef;
  }

  /* .searchbox{
      margin-top: 8vh;
      margin-left: 7vw;
      height: 6vh;
      width:60vw;
      padding-left: 2vw;
      border-radius: 1.4em;
      font-style: normal;
      font-weight: normal;
      border: 1px solid #C3CDD1;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
      font-family: Mulish;
  } */
  /* input[type=text]:focus {
    border:none;
    outline:#383838 solid 2px;
  } */
  /* .icon{
      margin-top: 10vh;
      margin-left: 1vw;
  }
  .searchicon{
      height:3vh;
      width:2vw;
  } */
  
